services:
  - docker

script:
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed $DOCKERHUB_USERNAME/udagram-api-feed:v1
  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user $DOCKERHUB_USERNAME/udagram-api-user:v1
  - docker build -t udagram-frontend ./udagram-api-user
  - docker tag udagram-frontend $DOCKERHUB_USERNAME/udagram-frontend:v1
  - docker push $DOCKERHUB_USERNAME/udagram-api-feed:v1
  - docker push $DOCKERHUB_USERNAME/udagram-api-user:v1
  - docker push $DOCKERHUB_USERNAME/udagram-frontend:v1
  - docker push $DOCKERHUB_USERNAME/udagram-reverseproxy:v1
